.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  background-color: aquamarine;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
h4{
  color: rgb(255, 255, 255);
}

.main{
  margin: 10px;

}
.sub{
    background-color: coral;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    
}